.App {
  text-align: center;
}

.title {
  text-align: end;
  width: 400px
}

#dino-card {
  display: inline
}

#home-container {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
}

#home-left {
  width: 50vw;
  height: 99.4vh;
  /* border: black;
  border-style: dashed; */
}

#home-dna {
  margin-top: 10%;
  margin-left: 40%;
}

#home-right {
  /* border-style: dashed; */
  display: flex;
  width: 50vw;
  height: 99.4vh;
  justify-content: center;
  align-items: center;
}

#lab-container {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
}

#nursery-container {
  height: 100vh
}

#lab-left {
  width: 50vw;
  height: 99.4vh;
  /* border: black;
  border-style: dashed; */
}

#lab-right {
  /* border-style: dashed; */
  width: 50vw;
  height: 99.4vh;
}


#question-1 {
  height: 20vh;
}

#question-2 {
  height: 20vh;
}

#question-3 {
  height: 20vh;
}

.fade-in {
  opacity: 0;
  transition: opacity 1500ms ease-in-out;
}

.fade-in.active {
  opacity: 1;
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-10px); }
  40% { transform: translateX(10px); }
  60% { transform: translateX(-10px); }
  80% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.submit {
  animation: shake 0.5s ease-in-out infinite, pulse 1s ease-in-out infinite;
}

#dna {
  position: fixed;
  bottom: 0;
  margin-left: 2%;
  margin-bottom: 2%;
}

#waiver {
  padding-left: 10%;
  padding-right: 10%;
}

#waiver p{
  font-size: .5rem;
  font-weight: 500;
  font-style: oblique;
}

#dino-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* .question-text {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  width: 400px;
  border-radius: 5%;
} */

.spacer {
  height: 30px
}

.timer-wrapper {
  justify-content: center;
  padding-top: 5%;
}