.App {
  text-align: center;
}

/* .navbar {
  width: 70%;
  margin:auto;
  font-size: 3rem;
}

.link {
  text-decoration: none;
} */


#dino-card {
  display: inline
}

#home-container {
  display: flex;
}

#home-left {
  width: 50vw;
  height: 99.4vh;
  border: black;
  border-style: dashed;
}

#home-right {
  border-style: dashed;
  display: flex;
  width: 50vw;
  height: 99.4vh;
  justify-content: center;
  align-items: center;
}

#lab-container {
  display: flex;
}

#nursery-container {
  width: 100vw;
  height: 99vh;
}

#lab-left {
  width: 50vw;
  height: 99.4vh;
  border: black;
  border-style: dashed;
}

#lab-right {
  border-style: dashed;
  width: 50vw;
  height: 99.4vh;
}


#question-1 {
  height: 20vh;
}

#question-2 {
  height: 20vh;
}

#question-3 {
  height: 20vh;
}

.fade-in {
  opacity: 0;
  transition: opacity 1500ms ease-in-out;
}

.fade-in.active {
  opacity: 1;
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-10px); }
  40% { transform: translateX(10px); }
  60% { transform: translateX(-10px); }
  80% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.submit {
  animation: shake 0.5s ease-in-out infinite, pulse 1s ease-in-out infinite;
}

#dna {
  position: fixed;
  bottom: 0;
  margin-left: 7%;
  margin-bottom: 2%;
}

#waiver p{
  font-size: .5rem;
  font-weight: 500;
  font-style: oblique;
}