.App {
  text-align: center;
}

#home-container {
  display: flex;
}

#home-left {
  width: 50vw;
  height: 100vh;
  border: black;
  border-style: dashed;
}

#home-right {
  border-style: dashed;
  width: 50vw;
  height: 100vh;
}

.question {
  height: 20vh;
}